# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
.env
.env.*
db_export.sql
at_bms_backup.sql
db_export.zip
at_bms_backup.zip
docs.md
docs.txt

node_modules
dist
dist-ssr
.output
.vinxi
.tanstack/**
.nitro
*.local
.mobile_app

# Wrangler / Cloudflare
.wrangler/
.dev.vars

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
